.equipos-header {
    background: linear-gradient(to right, #e63946, #ff6b6b);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
