<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="Proxy to Node" />
                <rule name="Proxy to Node" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <conditions />
                    <serverVariables />
                    <action type="Redirect" url="https://localhost:3000/api/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
